        <head>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        </head>
        <body>
        <!-- Plotly chart will be drawn inside this DIV -->
        <table border="1">
                <tr>
                        <td>
                                <div>
                                        <button onclick="updateMap()">
                                                Process Transactions
                                        </button >
                                </div>                        
                        </td>
                        <td>
                                <div>
                                        <p>
                                                Total Customers
                                        </p >
                                </div>                        
                        </td>
                        <td>
                                <div>
                                        <p>
                              Offers Sent
                                        </p >
                                </div>                        
                        </td>
                </tr>
                <tr>
                        <td colspan="3">
                                <div id="myDiv" style="width:1300px;height:600px;"></div>
                        </td>                
                </tr>
                <tr>
                        <td colspan="3">
                                <div id="tableDiv" style="width:1300px;height:400px;"></div>
                        </td>                
                </tr>
        </table>
        
        

        <script>

          var count = 0;
          
          var lats = ['19.1353231','19.1363231','19.1373231','19.1383231','19.1333231','19.1323231']
          var longs = ['72.9023281','72.9033281','72.9043281','72.9053281','72.9063281','72.9073281']      

          var data = [{
          type:'scattermapbox',
          lat:['19.1343231'],
          lon:['72.9013281'],
          mode:'markers',
          marker: {
            size:16,
            color: 'blue'
          },
          text:['Renaissance Mumbai']
        }]

        var layout = {
          autosize: true,
          hovermode:'closest',          
          showlegend: false,          
          mapbox: {
            bearing:0,
            center: {
              lat:19.1343,
              lon:72.9013
            },
            pitch:0,
            zoom:13
          },
        }

        Plotly.setPlotConfig({
          mapboxAccessToken: 'pk.eyJ1Ijoic3VuaWxzYWluaSIsImEiOiJjajJyZW1sYWgwMDE1MnFtdXFqNnBsZXVqIn0.3AbeL8OiQ5zRRbLSyJj51A'
        })

        Plotly.plot('myDiv', data, layout,{displayModeBar: false})

        function updateMap(){
                updateMap2(lats[count],longs[count],'Test');
                count = count+1;
        }

        function updateMap2(placeLat,placeLong,placeName){
                var newTrace = [{
                  type:'scattermapbox',
                  lat:[placeLat],
                  lon:[placeLong],
                  mode:'markers',
                  marker: {
                    size:16,
                    color:'blue'
                  },
                 text:[placeName]
                }
                ]

                Plotly.addTraces('myDiv', newTrace);
        }


        function plotTable(){
                var values = [
                      ['Salaries', 'Office', 'Merchandise', 'Legal', 'TOTAL'],
                      [1200000, 20000, 80000, 2000, 12120000],
                      [1300000, 20000, 70000, 2000, 130902000],
                      [1300000, 20000, 120000, 2000, 131222000],
                      [1400000, 20000, 90000, 2000, 14102000]]

                var data = [{
                  type: 'table',
                  header: {
                    values: [["EXPENSES"], ["Q1"],
                                                 ["Q2"], ["Q3"], ["Q4"]],
                    align: "center",
                    line: {width: 1, color: 'black'},
                    fill: {color: "grey"},
                    font: {family: "Arial", size: 12, color: "white"}
                  },
                  cells: {
                    values: values,
                    align: "center",
                    line: {color: "black", width: 1},
                    font: {family: "Arial", size: 11, color: ["black"]}
                  }
                }]

                Plotly.plot('tableDiv', data);
        }

        plotTable();
        </script>
        </body>